:root {
    --color-primary: #006f99;
    --color-secondary: #eff8fb;
    --color-black: #333333;
    --color-white: #ffffff;

}


.c-title {
    --c-title-color: var(--color-black);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: var(--c-title-color);
}

.c-subtitle {

    --c-title-color: var(--color-black);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--c-title-color);
    text-align: center;

}

.c-button {

    --c-button-strong-color: var(--color-primary);
    --c-button-weak-color: var(--color-secondary);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 28px 14px 28px;

    border-radius: 30px;
    border-width: 1px;
    border-style: solid;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    border-color: var(--c-button-strong-color);
    background-color: var(--c-button-strong-color);
    color: var(--c-button-weak-color);

}

.c-button--more{

    --c-button-strong-color: var(--color-primary);
    --c-button-weak-color: var(--color-secondary);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    

    color: var(--c-button-strong-color);

}

.c-text {
    --c-title-color: var(--color-black);

    font-size: 16px;
    color: var(--c-title-color);
}

.c-text--bold{
    --c-title-color: var(--color-black);

    font-family: sans-serif;
    font-size: 16px;
    color: var(--c-title-color);
    font-weight: bold;
}


.c-card {
    --color-background: var(--color-white);

    box-shadow: 1px 1px 5px 1px var(--color-background);
    border-radius: 5px;
    width: 350px;
    padding: 50px 0px 50px 0px;
    margin: 15px 15px 15px 15px;
}

.c-card--main{
    background-color: #eff8fb;
    padding: 120px 100px 100px 100px;
    width: 550px;
}

.c-card--small{

    background-color: #ffffff;
    padding: 20px 80px 20px 10px;
    height: 50px;
    width: 150px;
    
    display: flex;

    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
}

.c-image{
    width: 50px;
}

.c-banner{
    display: flex;
    align-items: center;
    background-image: url("../Proyecto_Caixabank/Imagenes/Terrat-abrir-cuenta_VF_1920x480.jpg");
    height: 400px;
}

.c-needs{
    padding-top: 30px;
}


.l-columns--4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}